.room {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightOn{
  background-color:  white;
  color: black;
}
.lightOff{
  background-color:  black;
  color: white;
}